<div style="text-align: center">
<h3 style="color: skyblue;">Component Creation</h3>
<div> ng g c compo-name (or) ng generate component compo-name</div>
<div>
  <span>
        We can represent selector in .ts file for any
        components in 3 types

    <p>Explained in this component check it once.</p>
  
    <!-- 1)Selector:'app-comp-creation'
    In html we can write as 
   <app-comp-creation></app-comp-creation> -->

    <!-- 2)Selector:'.app-comp-creation'
    In html we can write as 
   <div class="app-comp-creation"></div>

   3)Selector:'[app-comp-creation]'
   In html we can write as 
  <div app-comp-creation></div> -->

    </span>
</div>
</div>