<h1 style="text-align: center;color: darkorchid;">{{title}}</h1><br>
<div style="text-align: center;">
  <h3 style="color: skyblue">Project Setup</h3>
  <h4>1)Install the Angular CLI</h4>
  <p>npm install -g @angular/cli</p>
  <h4>2)Create a workspace</h4>
  <p>ng new my-app</p>
  <h4>3)Run the application</h4>
  <pre>
  i)Navigate to the workspace folder,
   such as my-app.
  ii)Run the following command:
   
    cd my-app
    ng serve --open

  <b>Difference between subject and observable</b>
  <li>subject: you can send to it and receive from it.</li>
    <li> Observable: you can receive from it only.</li>
    <div style="display:flex;justify-content: center;">
      <table>
       <tr>
        <td>Subject</td>
        <td>only upcoming values</td>
       </tr>
       <tr>
        <td>BehaviourSubject</td>
        <td>...one previous value and upcoming values</td>
       </tr>
       <tr>
        <td>ReplaySubject</td>
        <td>...all previous value and upcoming values</td>
       </tr>
      </table>
    </div>
</pre>
</div>
<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2>
<app-names></app-names>
<app-courses></app-courses>
<app-predefined></app-predefined>
<app-reactive-forms></app-reactive-forms>
<app-viewchild></app-viewchild> -->
<app-parent1></app-parent1>
<app-viewchild></app-viewchild>
<app-viewchildren></app-viewchildren>
<app-mycomp></app-mycomp>
<app-content1></app-content1>
<router-outlet></router-outlet>
<!-- <app-comp-creation></app-comp-creation>
<app-interpol></app-interpol>
<app-prop-binding></app-prop-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-parent></app-parent>
<app-two-way-binding></app-two-way-binding> -->
<app-multi></app-multi>
<app-tabledata></app-tabledata>

