<app-single-slot
  [questionNumber]="1"
  [question]="'What is your name'">
  <div class="single-slot">
    <input type="text" name="single-standard-name"
      id="single-standard-name">
  </div>
</app-single-slot>
<app-single-slot
  [questionNumber]="2"
  [question]="'What is your surname'">
  <div class="single-slot">
    <input type="text" name="single-standard-surname"
      id="single-standard-surname">
  </div>
</app-single-slot>
<app-single-slot
  [questionNumber]="3"
  [question]="'What is your birth year'">
  <div class="single-slot">
    <input type="number" name="single-standard-year"
      id="single-standard-year">
  </div>
</app-single-slot>